@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    font-family: "Poppins", serif;
    text-decoration: none;    
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding-top: 0px ;
    padding-right: 90px;
    padding-left: 70px;
    background-color: white;
    font-family: "Poppins", serif;
    height: 80px; 
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; 
}

.logo {
    width: 180px;
    display: block; 
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: black;
    margin-right: 100px;
    font-weight: 400;
    text-decoration: none;
}

li a:hover {
    color: #66C231;
}

.btn1 {
    height: 40px;
    width: 90px;
    background-color: #66C231;
    border: 1px solid #66C231;
    border-radius: 6px;
    color: white;
    font-weight: 400;
}

.btn1:hover {
    background-color: white;
    color: #66C231;
    transition: .3s;
}